@import 'palette';

$color-bkg: $p1;
$color-bkg-highlight: $p2;
$color-comment: $p4;
$color-command: $p8;
$color-register: $p5;
$color-constant: $p6;
$color-cursor: $p8;
$color-gutter-bkg: $p2;
$color-gutter-bkg-highlight: $p3;
$color-gutter-text: $p5;
$color-selected-text-border: $p8;
$color-default: $p8;
$color-selected: $p3;
$color-fold: $p7;
$color-fold-border: $p8;

.ace-solarized-light {
  background-color: $color-bkg !important;
  color: $color-default !important;

  .ace_gutter {
    background: $color-gutter-bkg !important;
    color: $color-gutter-text !important;
  }

  .ace_cursor {
    color: $color-cursor !important;
  }

  .ace_marker-layer .ace_selection {
    background: $color-selected !important;
  }

  .ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px $color-selected !important;
  }

  .ace_gutter-active-line {
    background-color: $color-gutter-bkg-highlight !important;
  }

  .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHjy8NJ/AAjgA5fzQUmBAAAAAElFTkSuQmCC) right repeat-y !important;
  }

  .ace_fold {
    background-color: $color-fold !important;
    border-color: $color-fold-border !important;
  }

  .ace_marker-layer {
    .ace_active-line {
      background: $color-bkg-highlight !important;
    }

    .ace_selected-word {
      border: 1px solid $color-selected-text-border !important;
    }
  }

  // Token Types
  .ace_keyword {
    color: $color-command !important;
  }

  .ace_constant {
    color: $color-constant !important;
  }

  .ace_register, .ace_special, .ace_function {
    color: $color-register !important;
  }

  .ace_comment {
    color: $color-comment !important;
  }
}