@import 'palette';
@import 'fonts';
@import 'constants';

$color-light: $p1;
$color-dark: $p4;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: code;
  background-color: $color-light;
}

.menu-bar {
  padding: 10px;
  color: $color-light;
  background-color: $color-dark;
  font-size: 14pt;
}

.panels {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.col {
  display: inline-block;
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panels .col:first-child {
  border-right: 5px solid $color-dark;
}

.btn {
  font-family: code;
  font-size: $font-size;
  color: $color-light;
  background-color: $color-dark;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
}

.float-right {
  float: right;
}

*:focus {
  outline: none;
}

#load-btn {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#editor-container {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

#game-renderer {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#game-renderer-container {
  width: 100%;
  min-width: 0;
  min-height: 0;
}

#sprite-workshop-container {
  display: flex;
  flex-direction: row;
  background-color: $color-light;
  border-top: $border-width solid $color-dark;
  flex: 1;
  min-width: 0;
  min-height: 0;

  #sprite-editor-container {
    display: flex;
    flex-direction: column;
    border-right: $border-width solid $color-dark;
    overflow: auto;

    #sprite-editor {
      height: 100%;
      width: auto;
      object-fit: contain;
    }

    input {
      flex: 1;
      display: inline-block;
      min-width: 0;
    }
  }

  #sprite-gallery-container {
    flex: 1;
  }
}

/* Disables antialiasing */
canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}