@import 'palette';
@import 'constants';

#sprite-gallery-container {
  overflow: auto;
}

.gallery-item {
  display: inline-block;
  border: $border-width solid $p2;
  height: 50%;
  width: auto;
  vertical-align: top;
}

.new-btn {
  font-size: 48pt;
  color: $p5;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
}
