@import 'palette';
@import 'fonts';
@import 'constants';

#sprite-editor-container input {
  background: none;
  color: $p5;
  font-family: code;
  font-size: 14pt;
  outline: none;
  border: none;
  border-top: $border-width solid $p2;
  padding: 5px;

  :focus {
    outline: none;
  }
}