$color-light: #efffe0;
$color-dark: #707058;

@font-face {
    font-family: code;
    src: url(fonts/november.regular.ttf);
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 14pt;
  font-family: code;
  background-color: $color-light;
  color: $color-dark;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
}

textarea:focus {
  outline: 0;
}
